@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* font-family: 'Open Sans', sans-serif; */

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000;
    padding: 80px;
    background:gray;
}

h2{
    font-weight: 700;
    text-decoration: underline;
    margin:20px 0;
    font-size: 18px;
    line-height: 26px;
}

.d-flex{
    display: flex;
}

.mt-0{
    margin-top: 0;
}

.half-col-row {
    display: flex;
    justify-content: space-between;
}

.justify-content-end{
    justify-content: flex-end;
}

.half-col {
    width: 48%;
}

.container {
    width: 100%;
    background: #fff;
    max-width: 793px;
    /* height: 1122px; */
    margin: 0 auto;
}

.wrapper{
    padding: 60px;
}

.block {
    margin-bottom: 20px;
}

.logo-placeholder {
    width: 48%;
    height: 80px;
    background: gray;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
}

.input-control {
    margin-bottom: 10px;
}

.input-control input {
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #000;
    background: transparent;
    border-radius: 0;
    font-size: 16px;
    line-height: 24px;
}

.input-control input:focus{
   border: 0;
   border-bottom: 1px solid #000;
   outline: 0;
}

.input-control label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.input-control.d-flex label {
    margin-bottom: 0;
    padding: 0;
    font-weight: 700;
}

.block.checkbox input {
    margin: 0;
    width: 20px;
    height: 20px;
}

.block.checkbox label {
    font-weight: 400;
}


.block.checkbox .input-control {
    margin-left: 5px;
    margin-bottom: 0;
    width: 100%;
}

.block.checkbox .input-control input{
    width: 100%;
}

table{
    border: 1px solid #000;
    width: 100%;
    text-align: left;
    margin: 20px 0;
}

table tr th{
    font-weight: 400;
}

table tr td{
    border-top: 1px solid #000;
    padding: 0;
}

p.sign{
    border-top: 1px solid #000;
    font-size: 14px;
    line-height: 16px;
    padding: 5px 0;
}

